
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #cbe4de;
}

.stopwatch {
    background: #000000;
    color: #fff;
    padding: 45px;
    border-radius: 50px;
    box-shadow:10px 10px 10px rgb(70, 68, 68);
    text-align: center;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
}

.controls button:hover {
    background: #0056b3;
}

#laps {
    margin-top: 20px;
    text-align: left;
}